@import '../shared/styles/variables';

.mobile-warning {
    h2 {
        margin-bottom: 0;
    }
    display: none;
    &.hidden {
        display: none;
    }

    @media screen and (max-width: $screen-limit-large - 8em){
        display: block;
    }
}
