@import '../shared/styles/variables';

.mobile-warning {
    h2 {
        margin-bottom: 0;
    }
    display: none;
    position: fixed;
    &.hidden {
        display: none;
    }

    @media (max-width: $screen-limit-large - 8em), (max-height: $screen-limit-small){
        display: block;
    }
}
