<idlmSection [anchor]="'a-propos'" [topPadding]='true'>
    <div subtitle>Islam, media subject</div>
    <div title>About</div>
    <div introduction>
        <p>
            <strong>“Islam, media subject”</strong> is a study of textual data on the treatment of Islam in the French press between 1997 and 2015. In a corpus of thousands of articles published during this period in three French newspapers (Le Monde, Libération and Le Figaro), the study records, analyzes and interprets the evolution of the occurrences of the terms "Islam", "Muslim", as well as words associated with them.<br><br> You can contact us at : <a idlmLink href="mailto:contact@skoli.fr">contact@skoli.fr</a>.
        </p>

        <h2>Authors</h2>
        <p>
            This study is the result of a collaboration between Moussa Bourekba and the Skoli agency.
        </p>
        <p>
            <strong>Moussa Bourekba</strong> is a researcher at <a idlmLink rel="nofollow" target="_blank" href="http://www.cidob.org"> Barcelona Center for International Affairs </a> and Associate Professor in International Relations at Blanquerna School (Ramon Llul University, Barcelona). He is project manager for <a idlmLink rel="nofollow" target="_blank" href="http://www.sahwa.eu"> SAHWA </a> which aims to analyze the evolution, conditions and prospects Of the Arab youths since 2011. His recent research focuses on the issue of Islam in France as well as the phenomena related to violent extremism in the Middle East and Europe.
        </p>
        <p>
            <strong>Skoli</strong> is a french agency specialised in building, valorization and digital mediation of knowledge. Its aim is to help digital transformation of research.
            Its ambition is to put science back at the heart of our societies, rehabilitating research knowledge and putting at its disposal the best digital technologies.
        </p>
        <p>
            Skoli members :<br>
            <a idlmLink href="http://pbellon.github.io" rel="nofollow" target="_blank">Pierre Bellon</a><br>
            <a idlmLink href="https://www.linkedin.com/in/gauthier-bravais-16815055" rel="nofollow" target="_blank">Gauthier Bravais</a><br>
            <a idlmLink href="https://www.linkedin.com/in/lucaspiessat" rel="nofollow" target="_blank">Lucas Piessat</a>
        </p>
        <h2>Graphic design</h2>
        <p>
            Graphic design is the work of <a href="http://www.valentindelouis.com/" idlmLink rel="nofollow" target="_blank">Valentin Delouis</a>.
        </p>

        <h2>Source code</h2>
        <p>
            The source code is freely available on <a href="https://github.com/Skoli-Code/IDLM-static" rel="nofollow" target="_blank" idlmLink>GitHub</a>.
        </p>


        <h2>Credits</h2>

        <h3>Photos</h3>
        <p>
            Cover : “Men reading the Koran in between two prayer times in Umayyad Mosque, Damascus, Syria”, <a idlmLink href="https://commons.wikimedia.org/wiki/File:Men_reading_the_Koran_in_Umayyad_Mosque,_Damascus,_Syria.jpg" rel="nofollow" target="_blank">Erik Albers (Wikimedia Commons)</a>
        </p>

        <h3>Fonts & Icons</h3>
        <p>
            Arrow - Austin Condiff of <a idlmLink href="https://thenounproject.com/acondiff/" rel="nofollow" target="_blank">the Noun Project</a>
        </p>
        <p>
            Fonts:<br>
            <a idlmLink href="https://fonts.google.com/specimen/PT+Serif" target="_blank" rel="nofollow">PT Serif</a><br>
            <a idlmLink href="https://fonts.google.com/specimen/Poppins" target="_blank" rel="nofollow">Poppins</a>
        </p>

        <h3>Tools & Libraries</h3>
        <p>
            We used :
        </p>
        <ul>
            <li>Part-of-speech tagging : <a idlmLink href="http://www.cis.uni-muenchen.de/~schmid/tools/TreeTagger/">TreeTagger</a></li>
            <li>Document-Term Matrix : <a idlmLink href="http://scikit-learn.org/stable/">Sci-Kit Learn</a> (Python)</li>
            <li>Data analysis : <a idlmLink href="http://pandas.pydata.org/">Pandas</a> (Python)</li>
            <li>Visualisation : <a idlmLink href="https://d3js.org/">d3.js</a></li>
            <li>Publication framework : <a idlmLink href="https://angular.io/">Angular 2</a></li>
        </ul>
    </div>
</idlmSection>
