@import '../../../shared/styles/colors';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/variables';

.chart {
    padding-top:$chart-padding-top;
    &__description {
        background-color: white;
        strong, .bold {
            color: darken($light-gray, 10%);
        }
        h5.bold, h5 {
            margin-top:0;
            color: $black;
        }
        &__title {
            margin-top: 0;
            margin-bottom: 1.5em;
        }
        .sep {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}

path {
    &.line {
        fill:none;
        stroke: $black;
        stroke-width: 2px;

        &.islam {
            stroke: $black;
        }
        &.musulman {
            stroke: #BBB;
        }
    }
    &.event {
        opacity: 0;
        transition: opacity .5s ease-in;
        &.active {
            opacity: 1;
            &:after, &:before {
                content: '';
                top: 0;
                left:0;
                width: 40px;
                height: 40px;
                background: $light-gray;
                border-radius: 50px;
            }
            &:before {
                transform: scale(1);
                animation: pulse 3s infinite linear;
            }

            &:after {
                animation: pulse 3s 2s infinite linear;
            }
        }
    }
}
// 3-2
.chart-2-2 {
    path.separator {
        fill: none;
        stroke: $light-gray;
        stroke-width: 1px;
    }
}
.bubble-group {
    .bubble {
        cursor: help;
        circle {
            fill: white;
            stroke-width: 2px;
        }
        text {
            font-family: $sansserif;
            font-size: $base-font-size * 0.8;
        }
        &.new {
            text {
                color: white;
            }
        }
    }
    @each $color-name, $color in $charts-colors {
        &.#{$color-name} {
            .bubble {
                fill: $color;
                circle {
                    stroke: $color;
                }
                text {
                }
                &.new {
                    circle {
                        fill: $color;
                    }
                    text {
                        fill: white;
                    }
                }
            }
        }
    }
}
.chart-grid {
    .chart-cell {
        .axis {
            stroke: fade-out($light-gray, 0.5);
            stroke-width: 1px;
        }
        path {
            fill: none;
            stroke: $black;
            stroke-width: 2px;
        }
        @each $color-name, $color in $charts-colors {
            &--#{$color-name} {
                path {
                    stroke: $color;
                }
            }
        }
    }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

rect.focus-rect {
    fill: #000;
    opacity: 0;
}

.axis {
    .tick line, path.domain {
        stroke: $light-gray !important;
    }
    text {
        fill: $light-gray !important;
        font-size: 12px;
    }
}

.area {
    opacity: 0.5;
    &.focus {
        // opacity: 1;
    }

    &.liberation {
        fill: $liberation;
    }
    &.lemonde {
        fill: $lemonde;
    }
    &.figaro {
        fill: $figaro;
    }
}
.chart-2-2 {
    .chart__legend {
        .hollow {
            fill: none;
            stroke-width: 2px;
        }
        @each $color-name, $color in $charts-colors {
            .hollow.#{$color-name} {
                stroke: $color;
            }
        }
    }
}
