@import '../../../shared/styles/colors';
@import '../../../shared/styles/mixins';

g.line {
    path {
        fill:none;
        stroke: $black;
        stroke-width: 2px;

        &.islam {
            stroke: $black;
        }
        &.musulman {
            stroke: #BBB;
        }
    }
}

.area {
    opacity: 0.2;
    &.focus {
        opacity: 0.8;
    }

    &.liberation {
        fill: $liberation;
    }
    &.lemonde {
        fill: $lemonde;
    }
    &.figaro {
        fill: $figaro;
    }
}
