@import '../shared/styles/colors';
@import '../shared/styles/variables';
@import '../../../node_modules/blaze/scss/mixins/settings.global';

nav {
    background-color: $black;
    border-bottom: 1px solid lighten($black, 20%);
    height: $navbar-height;
    line-height: $navbar-height;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    position: fixed;
    width: 100%;
    z-index: $navbar-z-index;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $light-gray;
            path {
                fill: $light-gray;
            }
        }
    }
    svg path {
        fill: white;
        stroke: white;
        stroke-width: 1px;
    }

    .title {
        letter-spacing: 0.08em;
    }

    .skoli-link {
        float:left;
    }

    .links {
        float: right;
        a {
            font-weight: normal;
            &:after {
                content: '·';
                display: inline-block;
                width: 1.5em;
                font-weight: bold;
                text-align: center;
            }
            &:last-child:after {
                display: none;
            }

        }
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
