@import '../shared/styles/colors';
@import '../shared/styles/variables';
@import '../../../node_modules/blaze/scss/mixins/settings.global';

nav {
    background-color: $black;
    position: fixed;
    height: $navbar-height;
    line-height: $navbar-height;
    width: 100%;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    z-index: $navbar-z-index;
    border-bottom: 1px solid lighten($black, 20%);
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $light-gray;
            path {
                fill: $light-gray;
            }
        }
    }
    svg path {
        fill: white;
    }
    .skoli-link {
        float:left;
    }

    .links {
        float: right;
        a {
            font-weight: normal;
            margin-left: $grid-gutter;
        }
    }
    .title {
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
