@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/variables';

.repartition {
    &__name {
        display: inline-block;
        width: 80px;
    }

    &__bar {
        margin-bottom: $repartion-bar-height/2;
        display: inline-block;
        height: $repartion-bar-height;
        border-radius: $repartion-bar-height/2;
        transition: width .22s ease-out;
        @each $color-name, $color in $charts-colors {
            &--#{$color-name} {
                background-color: $color;
            }
        }
    }
}
