<div class="repartition">
    <div class="repartition__name">Le Figaro</div>
    <div class="repartition__bar repartition__bar--figaro" [style.width]="repartition.figaro+'%'"></div>
</div>
<div class="repartition">
    <div class="repartition__name">Le Monde</div>
    <div class="repartition__bar repartition__bar--lemonde" [style.width]="repartition.lemonde+'%'"></div>
</div>
<div class="repartition">
    <div class="repartition__name">Libération</div>
    <div class="repartition__bar repartition__bar--liberation" [style.width]="repartition.liberation+'%'"></div>
</div>
