@import '../styles/colors';
@import '../styles/variables';

:host {
    // resolve small "gap" issue
    font-size: 0;
    line-height: 0;
}

.ref {
    font-size: $intro-font-size;
    line-height: $intro-line-height;
    color: $light-gray;
    border-bottom: 1px dashed $light-gray;
    cursor: help;
}
