@import '../../../../shared/styles/variables';

.scroll-content {
    .quote h4 {
        display: inline;
    }
}
.chart {
    &-container {
        padding: 1em;
    }
    &__legend {
        margin-top: 4em;
        svg {
            height: $base-font-size;
            width: $base-font-size;
        }
    }
}
