<div class="scroll-holder" [style.height]="heightForScrollWatcher">
    <div class="scroll-content" idlmScrollWatcher (onScroll)="onScroll($event)">
        <idlmProgressBar [progressPercentage]="progress"></idlmProgressBar>
        <div class="o-grid">
            <div class="o-grid__cell">
                <svg #chartPlayground></svg>
            </div>
            <div class="o-grid__cell o-grid__cell--width-20">
                <span class="quote"><h4>{{ currentYear }}</h4></span>
            </div>
        </div>
    </div>
</div>
