@import '../../../../shared/styles/typography';

.scroll-content {
    .quote h4 {
        display: inline;
    }
}
.chart {
    &__legend {
        svg {
            height: $base;
            width: $base;
        }
    }
}
