<div class="scroll-holder chart chart-2-2" [style.height]="heightForScrollWatcher">
    <div class="scroll-content" idlmScrollWatcher (onScroll)="onScroll($event)">
        <idlmProgressBar [progressPercentage]="progress"></idlmProgressBar>
        <div class="o-grid">
            <div class="o-grid__cell o-grid__cell--width-70">
                <svg #chartPlayground></svg>
            </div>
            <div class="o-grid__cell o-grid__cell--width-15">
                <div class="quote"><h4>{{ currentYear }}</h4></div>
                <div class="chart__legend">
                    <ul class="list-unstyled">
                        <li class="hollow figaro" data="Le Figaro"></li>
                        <li class="hollow liberation" data="Libération"></li>
                        <li class="hollow lemonde" data="Le monde"></li>
                        <li class="full" data="Nouveau mot"></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
