<div class="scroll-holder chart chart-2-2" [style.height]="heightForScrollWatcher">
    <div class="scroll-content" idlmScrollWatcher (onScroll)="onScroll($event)">
        <idlmProgressBar [progressPercentage]="progress"></idlmProgressBar>
        <div class="o-grid">
            <div class="chart-container o-grid__cell o-grid__cell--width-65">
                <svg #chartPlayground></svg>
            </div>
            <div class="o-grid__cell o-grid__cell--width-35 chart__description u-center-block">
                <div class="u-center-block__content">
                    <h5 class="chart__description__title">The 16 most used words by year in each corpus (1997-2015).</h5>
                    <div class="quote"><h3>{{ currentYear }}</h3></div>
                    <div class="chart__legend">
                        <ul class="list-unstyled">
                            <li class="hollow figaro" data="Le Figaro"></li>
                            <li class="hollow liberation" data="Libération"></li>
                            <li class="hollow lemonde" data="Le Monde"></li>
                            <li class="full" data="New word"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
