@import '../../../../shared/styles/colors';

h4 {
    margin-top: 0.5em;
}
.chart {
    &-grid {
        padding-left: 3em;
        padding-right: 3em;
    }
}
.chart-cell {
    position: relative;
    margin-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    &--right {
        padding-right: 0;
        padding-left: 4em;
    }
    .sep--bottom, .sep--right {
        position: absolute;
    }
    .sep {
        &--bottom {
            width: auto;
            right: 10px;
            bottom: 0;
            left: -2em;
            &--right {
                left: 10px;
                right: -2em;
            }
        }
        &--right {
            height: auto;
            top: -1em;
            bottom: 10px;
            &--bottom {
                top: -10px;
                bottom: -1em;
            }
        }
    }
    h3 {
        margin-top: 0;
        font-weight: normal;
    }
    .serif {
        font-weight: bolder;
        margin-bottom: 1em;
    }
    h5 {
        margin-top: 0;
        margin-bottom: 0;
        color: $light-gray;
    }

    @each $color-name, $color in $charts-colors {
        &--#{$color-name}{
            .serif {
                color: $color;
            }
            .small-underline {
                color: $color;
                &:after {
                    background-color: $color;
                }
            }
        }
    }

}
