<section class="section anchor" id="partie-3">
    <div class="section__intro">
        <div class="section__intro__title">
            <div class="o-container o-container--xlarge">
                <h3>Partie 3:</h3>
                <h1>Les adjectifs de l'Islam</h1>
            </div>
        </div>
        <div class="section__intro__content">
            <div class="o-container o-container--xlarge">
                <p>
                    Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter gyris, dum exprimunt innumera simulacra, quae finxere fabulae theatrales.
                </p>
                <p>
                    Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum saeviebat ingenium a veri consideratione detortum et nullo inpositorum vel.
                </p>
                <p>
                    Conpositorum fidem sollemniter inquirente nec discernente a societate noxiorum insontes velut exturbatum e iudiciis fas omne discessit, et causarum legitima silente a societate noxiorum insontes velut exturbatum e iudiciis fas omne discessit, et causarum legitima silente..
                </p>
            </div>
        </div>
    </div>
    <div class="section__content o-container o-container--xlarge">
        <div class="o-grid">
            <div class="o-grid__cell o-grid__cell--width-30">
                <h3>Co-occurrences du terme “islam” avec un adjectif dans le corpus total</h3>
                <p>
                    Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter.
                </p>
                <p>
                    Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum saeviebat ingenium a veri consideratione detortum et nullo inpositorum vel.
                </p>
                <p>
                    Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter ad usque taedium pedibus pavimenta tergentes iactari volucriter.
                </p>
            </div>
            <div class="o-grid__cell">
                <idlmWordCloud [dataCatalogKey]="'3.1'" [ratio]="0.5"></idlmWordCloud>
            </div>
        </div>

        <!-- <idlmChart-3-2></idlmChart-3-2> -->
    </div>
</section>
