<div class="scroll-holder cancel-margin-left"
    [style.margin-left]="-margin.left + 'px'"
    [style.height]="heightForScrollWatcher">

    <div idlmScrollWatcher (onScroll)="onScroll($event)">
        <div class="scroll-message" [style.opacity]="scrollMessageOpacity">
            <h1>
                Pour continuer, veuillez faire défiler vers le bas<br>
                <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" version="1.1" y="0px" x="0px" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 837.50001 448.81">
                 <g transform="translate(-139.46128,-534.0434)">
                  <path stroke-linejoin="miter" style="fill:#bbb;" d="M347.67,774.01c-114.98-114.98-209.06-209.92-209.06-210.96,0-2.4439,23.825-26.225,26.274-26.225,1.0198,0,89.603,87.75,196.85,195s195.56,195,196.25,195c0.68915,0,89.002-87.75,196.25-195s195.57-195,196.27-195c2.0118,0,25.603,24.209,25.603,26.274,0,1.6224-417.14,419.98-418.75,419.98-0.34375,0-94.702-94.079-209.69-209.06z" fill-rule="nonzero" stroke-dashoffset="0" stroke-linecap="butt" stroke-miterlimit="4" stroke-dasharray="none" stroke-width="1" fill="#000"/>
                 </g>
                </svg>
            </h1>
        </div>
        <idlmProgressBar [progressPercentage]="progress"></idlmProgressBar>
        <div class="chart chart-1-1 o-container o-container--xlarge">
            <div class="vert vert--full-height vert--full-width">
                <div class="o-grid vert__content">
                <div class="o-grid__cell o-grid__cell--width-60">
                    <svg #chartPlayground></svg>
                    <div class="chart__legend" [style.margin-left]="margin.left + 'px'">
                        <ul class="list-inline" *ngIf='isAreas()' [@fade]="isAreas()">
                            <li class="figaro"><span class="color"></span>&nbsp;<span class="name">Le Figaro</span></li>
                            <li class="liberation"><span class="color"></span>&nbsp;<span class="name">Libération</span></li>
                            <li class="lemonde"><span class="color"></span>&nbsp;<span class="name">Le Monde</span></li>
                        </ul>
                        <ul class="list-inline" *ngIf='isLines()' [@fade]="isLines()">
                            <li class="islam"><span class="color"></span>&nbsp;<span class="name">islam</span></li>
                            <li class="musulman"><span class="color"></span>&nbsp;<span class="name">musulman</span></li>
                        </ul>
                    </div>
                </div>
                <div class="chart__description o-grid__cell right-gutter">
                    <h5 class="chart__description__title rel bold" style="min-height: 2em">
                        <span class="inner" *ngIf='isLines()' [@fade]='isLines()'>
                            Occurrences des termes  contenant “islam” et “musulman” par an dans le corpus général (31.12.1997-31.12.2015)
                        </span>
                        <span class="inner" *ngIf='isAreas()' [@fade]='isAreas()'>
                            Occurrences des termes contenant “islam” par an et par corpus (31.12.1997-31.12.2015)
                        </span>
                    </h5>
                    <div class="rel">
                        <p *ngIf="!hideFirstContent" class="inner" [@fade]="!hideFirstContent" style="top:1.5em">
                            Sans être étonnante, la corrélation entre les occurrences des termes contenant “islam” ou “musulman” pose des questions. Ainsi, la vue du “parallélisme” des courbes laisse penser que ces deux termes sont devenus interchangeables. Et ce, pour qualifier un fait qui a trait à la religion musulmane ou implique des personnes réellement ou supposément musulmanes (terrorisme, délits, polémiques diverses). Les écarts entre les deux courbes fluctuent et appellent à une analyse plus approfondie. Cependant, notons que le terme “islam” et ses dérivés ("islamogauchiste", "islamofasciste" ou encore “islamikaze”) sont plus fréquents que ceux du terme “musulman”. Aussi avons nous décidé, étant donné la proximité d’usage des deux termes, de nous concentrer sur celui d’”islam”.
                        </p>
                        <div class="inner" *ngIf="hideFirstContent" [@fade]="hideFirstContent">
                            <div *ngIf="periodContent" [@fadeInOut]="periodContent" [innerHTML]="periodContent | markdown"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
