@import "../../../../shared/styles/colors";
.chart {
    .rel {
        .inner {
            position: absolute;
            top: 0;
        }
    }
    &__legend {
        position: relative;
        .list-inline {
            position: absolute;
            top: 0;
        }
        .color {
            display: inline-block;
            height: 8px;
            width: 1.7em;
            margin-right: 4px;
            border-radius: 4px;
        }


        @each $color-name, $color in $charts-colors {
            .#{$color-name} .color {
                background-color: $color;
            }
        }
    }
}
