@import "../../shared/styles/colors";
@import "../../shared/styles/variables";

.progress {
    width: 100%;
    height: $progress-bar-height;
    background: $light-gray;
    &__bar {
        height: 2em;
        width: 0%;
        background-color: $black;
    }
}
