@import '../../../shared/styles/colors';
@import '../../../shared/styles/typography';

.section {
    &__intro {
        &__title {
            padding-top: 4em;
            background-color: $black;
            color: white;
            h2 {
                margin-bottom: 0;
            }
            h1 {
                padding-bottom: 2em;
                margin-top: 0;
            }
            h1, h2 {
                &:empty {
                    display:none;
                }
            }
        }
        &__content {
            font-family: $serif;
            &:first-letter {
                font-size: $base * 4;
                line-height: $base;
                padding-left: 0.66em;

            }
        }
    }
    &__content {
        &:empty {
            display: none;
        }
        .o-grid {
            .o-grid__cell {
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    &__intro__content, &__content {
        padding-top: 4em;
        padding-bottom: 4em;
        p {
            margin-top: 0;
        }
    }
}
