@import '../../../shared/styles/colors';
@import '../../../shared/styles/typography';

.section {
    &__intro {
        &__title {
            padding-top: 4em;
            padding-bottom: 2em;
            background-color: $black;
            color: white;
            h2 {
                margin-bottom: 0;
            }
            h1 {
                padding-bottom: 1em;
                margin-top: 0;
            }
            h1, h2 {
                &:empty {
                    display:none;
                }
            }
        }
        &__content {
            font-family: $serif;
        }
    }
    &__content {
        &:empty {
            display: none;
        }
    }

    &__intro__content, &__content {
        padding-top: 4em;
        padding-bottom: 4em;
        p {
            margin-top: 0;
        }
    }
}
