$light-gray: #a7a7a7;
$black: #333;
$gray: #bbb;

$steelblue: #013f7d;
$red: #ec1b4f;
$yellow: #fecd00;

$figaro: $steelblue;
$lemonde: $yellow;
$liberation: $red;

$newspaper-colors: (
    liberation: $liberation,
    lemonde: $lemonde,
    figaro: $figaro
);
