@import './mixins';
@import './colors';

@import url(http://fonts.googleapis.com/css?family=Poppins:400|Merriweather);
$poppins: "Poppins",sans-serif;
$merriweather: "Merriweather", serif;

.serif {
    font-family: $merriweather;
}

html, body {
    font-family: $poppins;
}

h1, .h1 {
    font-size: 64px;
    margin-bottom: 12px;
}
h2, .h2 {
    font-size: 42px;
    margin-bottom: 6px;
}
h3, .h3 {
    font-size: 28px;
}
h4, .h4 {
    font-size: 18px;
}

h1,h2,h3,h4,h5 {
    &.subpart-title {
        font-weight: normal;
    }
}

.quote {
    border-left: 2px solid $black;
    padding-left: 1em;
    h3,h4,h5 {
        margin: 0;
        @extend .serif;
    }
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

a {
    color: $light-gray;
    text-decoration: underline;
    &:hover {
        color: darken($light-gray, 0.3);
    }
}
