@import './mixins';
@import './colors';

@import url(http://fonts.googleapis.com/css?family=Poppins:400|PT+Serif:400,800);
$poppins: "Poppins",sans-serif;
$ptserif: "PT Serif", serif;

.serif {
    font-family: $ptserif;
}

html, body {
    font-family: $poppins;
}

h1, .h1 {
    font-size: 64px;
    margin-bottom: 12px;
}
h2, .h2 {
    font-size: 42px;
    margin-bottom: 6px;
}
h3, .h3 {
    font-size: 24px;
}
h4, .h4 {
    font-size: 18px;
}

h1,h2,h3,h4,h5 {
    &.subpart-title {
        font-weight: normal;
    }
}

.quote {
    border-left: 2px solid $black;
    padding-left: 1em;
    h3,h4,h5 {
        margin: 0;
        @extend .serif;
    }
}

.sep {
    &--bottom {
        width: 100%;
        height: 2px;
        background-color: $light-gray;
        margin-top:2px;
    }
    &--right {
        right: 0px;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: $light-gray;
    }
}

.small-underline {
    margin-bottom: 1em;
    &:after {
        display: block;
        content: '';
        position: relative;
        bottom:-0.2em;
        width: 1.5em;
        height: 0.075em;
        background-color: $black;
    }
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

a {
    color: $light-gray;
    text-decoration: underline;
    &:hover {
        color: darken($light-gray, 0.3);
    }
}
