@import "./colors";

$progress-bar-height: 0.7em;
$navbar-height: 50px;
$navbar-z-index: 100;
$repartion-bar-height: 6px;

// sections & content styles
$chart-padding-top: 6em;
$vertical-nav-width: 2.5em;
$vertical-nav-border-width: 2px;

// took from blazecss
$screen-limit-xsmall: 20em !default;
$screen-limit-small: 30em !default;
$screen-limit-medium: 48em !default;
$screen-limit-large: 64em !default;
$screen-limit-xlarge: 78em !default;
$screen-limit-super: 116em !default;

$screen-sizes: (
    xsmall: $screen-limit-xsmall,
    small: $screen-limit-small,
    medium: $screen-limit-medium,
    large: $screen-limit-large,
    xlarge: $screen-limit-xlarge,
    super: $screen-limit-super
);


// took from bootstrap
$enable-rounded:     true;
$border-radius:      5px;
$tooltip-max-width:  400px !default;
$tooltip-color:      #fff !default;
$tooltip-bg:         $black !default;
$tooltip-opacity:    .9 !default;
$tooltip-padding-y:  3px !default;
$tooltip-padding-x:  8px !default;
$tooltip-margin:     3px !default;
$tooltip-arrow-width:5px !default;
$tooltip-arrow-color:$tooltip-bg !default;

$zindex-tooltip: 1070 !default;

@import url(http://fonts.googleapis.com/css?family=Poppins:400|PT+Serif:400,700);
$poppins: "Poppins",sans-serif;
$ptserif: "PT Serif", serif;

$serif: $ptserif;
$sansserif:$poppins;

$base-font-size: 14px;
$base-line-height: 14px * 1.6;

$event-font-size: $base-font-size * 0.85;

$h1: 40px;
$h2: 22px;
$h3: 20px;
$intro-font-size: $h3;
$intro-line-height: $intro-font-size * 1.6;

$app-title: 75px;
