@import '../../../../node_modules/blaze/scss/mixins/settings.global';

$progress-bar-height: 0.7em;
$navbar-height: 50px;
$navbar-z-index: 100;
$repartion-bar-height: 6px;

// sections & content styles
$vertical-padding: 4em;
