@import "../../shared/styles/colors";
@import "../../shared/styles/variables";

* >>> .social {
    &:hover {
        path {
            fill: $light-gray !important;
        }
    }
}

.vertical-nav {
    width: $vertical-nav-width;
    position: fixed;
    top: 25%;
    right: 1em;
    z-index: 40;
    .steps {
        background-color: white;
        border: $vertical-nav-border-width solid $light-gray;
        position: relative;
        border-top: 0;
        border-bottom: 0;
        &:after, &:before {
            border: $vertical-nav-border-width solid $light-gray;
            display: block;
            background-color: white;
            content: "";
            height: $vertical-nav-width;
            width: $vertical-nav-width;
            margin-left: -$vertical-nav-border-width;
            position: absolute;
            z-index: -1;
            margin-top: -($vertical-nav-width / 2);
        }
        &:after {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-top: none;
        }

        &:before {
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom: none;
        }
    }
    .socials {
        margin-top: 4em;
    }
}



.step {
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
    &__link {
        &--active, &:hover {
            border-color: $black;
        }
        margin: auto;
        content: "";
        display: block;
        width: 0.8em;
        text-decoration: none;
        border: 0.4em solid;
        border-radius: 50%;
        /*height: 1em;*/
        border-color: #bbb;
    }
}
