<div class="chart-holder" [style.height]="heightForScrollWatcher">
    <div idlmScrollWatcher (onScroll)="onScroll($event)">
        <h3 class="subpart-title text-center">Titre de sous-partie</h3>
        <div class="o-grid">
            <div class="chart chart-1-2 o-grid__cell">
                <svg #chartPlayground></svg>
                <div class="events">
                    <div *ngFor="let event of activeEvents" class="event quote">
                        <h5 class="event__title serif">{{event.description}}</h5>
                        <a *ngIf="event.link != null" href="{{event.link}}" rel="nofollow">Plus d'infos</a>
                    </div>
                </div>
            </div>
            <div class="o-grid__cell o-grid__cell--width-30">
                <div class="chart__description">
                    <h4>Occurrences des mots  “islam” et “musulman” par an dans le corpus général</h4>
                    <p>
                        Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter.
                    </p>
                    <p>
                        Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum saeviebat ingenium a veri consideratione detortum et nullo inpositorum vel.
                    </p>
                </div>
                <div class="chart__contextual-data" *ngIf="contextualData">
                    <div class="o-grid">
                        <div class="o-grid__cell o-grid__cell-width-fixed">
                            <span class="bold serif">{{ contextualData.date | date:'yyyy' }}</span>
                            {{ contextualData.date | date:'MMMM' }}
                        </div>
                        <div class="o-grid__cell o-grid__cell-width-fixed">
                            <span class="bold serif">{{ contextualData.totalOccurences }}</span>
                            occurences
                        </div>
                        <div class="o-grid__cell o-grid__cell-width-fixed">
                            dont
                        </div>
                        <div class="o-grid__cell o-grid__cell-width-fixed">
                            <span class="bold serif">{{ contextualData.titleOccurences }}</span>
                            titres d'articles
                        </div>
                    </div>
                    <div class="repartition">
                        <div class="repartition__name">Le Figaro</div>
                        <div class="repartition__bar repartition__bar--figaro" [style.width]="contextualData.corpus.figaro+'%'">
                        </div>
                    </div>
                    <div class="repartition">
                        <div class="repartition__name">Le Monde</div>
                        <div class="repartition__bar repartition__bar--lemonde" [style.width]="contextualData.corpus.lemonde+'%'">
                        </div>
                    </div>
                    <div class="repartition">
                        <div class="repartition__name">Libération</div>
                        <div class="repartition__bar repartition__bar--liberation" [style.width]="contextualData.corpus.liberation+'%'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
