@import '../../../../shared/styles/variables';

.chart {
    &__description {
        background-color: white;
    }
    &-left-holder {
        $events-height: 120px;
        position: relative;
        // padding-bottom: $events-height;
        .events {
            width: 100%;
            overflow: hidden;
            // position: absolute;
            height: $events-height;
            // bottom: 0;
            display: flex;
            align-items: flex-start;
            .event {
                z-index: 1;
                padding-right: 1.5em;
                max-height: $events-height;
                &__title, a {
                    margin-bottom: 0;
                    font-size: $event-font-size;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    .sep {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    &__contextual-data {
        margin-bottom: 1em;
        .data {
            font-size: $h3;
        }
    }
}
