.chart {
}
.events {
    margin-left: 50px;
    .event {
        display: inline-block;
        vertical-align: top;
        max-width: 330px;
        margin-right: 1.5em;
        margin-bottom: 1em;
        &__title {
            margin-bottom: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
