<idlmSection [anchor]="'methodologie'" [topPadding]='true'>
    <div subtitle>Islam, media subject</div>
    <div title>Methodology</div>
    <div introduction>
        <h2>1. Introduction</h2>
        <h3>1.1 Definitions</h3>
        <p>
            <b>Corpus</b> :  set of texts used as a basis for textual analysis.<br>
            <b>Occurrence</b> : number of time the term appears in a document or set of documents.<br>
            <b>Lemma</b>: chain of signs forming a semantic unit.
        </p>
        <h3>1.2. Goals</h3>
        <p>
            This methodological note aims for publishing all the treatments used to obtain the data presented in this study. These methods involve certain biases, which are, as far as possible, explained in the paragraphs relating to the parties they affect.
        </p>

        <h2>2. Constitution of the corpus</h2>
        <p>
            The corpus analyzed here includes all press articles containing the terms "Islam" or "Muslim" between 01.01.1997 and 31.12.2015 and published by Libération, Le Monde and Le Figaro.<br> We mean by corpus all the press articles of the three dailies and published over the whole period.<br> By sub-corpus we mean press articles published for the whole period but attached to one of the three dailies only.
        </p>
        <p>
            The analyzed corpus does not contain the title, the publication heading or the quality of the content (report, analysis, editorial…).
        </p>
        <p>
          Those temporal bounds make possible to have the necessary distance to measure the impact of 9/11 attacks which marked a turning point in the treatment of Islam in the media.

        </p>
        <p>
            The choice of those media corresponds to the wish to measure possible differences in treatment within the three "big" French daily newspapers: Le Monde, considered as "the reference", Le Figaro marked on the right of the political chessboard and Liberation rather located on the left. <br>
            This corpus is not exhaustive and does not take into account the entire ideological spectrum of the generalist daily press (L'Humanité, La Croix, L'Opinion, Les Echos, Aujourd'hui en France), the conclusions are not intended to be extrapolated, they nevertheless constitute a good first approach to this question. It nonetheless provides a broad view of the orientations of the press regarding the treatment of Islam.
        </p>
        <h2>3. Cleaning the corpus</h2>
        <p>
            The corpus contains duplicates. To minimize artificial biases due to minor content changes, we have removed duplicate articles from the study corpus.
        </p>
        <p>
            Considering two articles having their contents similar to (at least) 70% and published less than 3 days apart as duplicates, we only kept the one with the most recent date of publication.
        </p>

        <p>
            We made some operations to facilitate the analysis :
        </p>
        <ul>
            <li>Any operation on the corpus is case insensitive (uppercase / lowercase).</li>
            <li>A list of irrelevant words has been removed from the corpus (Attachment 7.1).</li>
            <li>Deletion of punctuation.</li>
        </ul>

        <h2>4. Treatment of the corpus</h2>
        <p>
            As part of this study, a number of operations have been performed on the corpus, which are detailed here. It is not an exhaustive treatment of the corpus that could be analyzed more precisely.
        </p>

        <h3>4.1 Calculating the occurrences of terms including "Islam" and "Muslim"</h3>
        <p>
            Temporal study of the occurrence of terms containing "Islam" and "Muslim" performed using Python Pandas and independently of case. Aggregation by year.
        </p>

        <h3>4.2 Calculating the occurrences of terms including "Islam" by month (including titles)</h3>
        <p>

            Temporal study of the occurrence of terms containing "Islam" in the sub-corpus made using Python Pandas. The Le Monde sub-corpus (19,981 documents) is quantitatively more important than that of Libération (9,641 documents) or Le Figaro (11,037 documents).
        </p>

        <h3>4.3 The most common words in the corpus</h3>
        <p>
            After having been annotated to associate with its grammatical form (Part-of-Speech Tagging), the corpus was subjected to matrix processing (DTM) via the python library Sklearn, making it possible to count the number of occurrences for each lemma.
        </p>

        <h3>4.4 The most common words in each sub-corpus by year.</h3>
        <p>
            Here the matrix (see 4.3) is filtered by year and sub-corpus.
        </p>

        <h3>4.5. The adjectives associated with "Islam" in the corpus.</h3>
        <p>
            The matrix (see 4.3) lists terms but also group of terms (or ngrams). Here are identified the most commonly used adjectives (at 1 word of interval maximum) before or after the lemma "Islam".
        </p>
        <p>
            Even it's impossible to guarantee that those adjectives directly qualify the lemma "Islam", their co-occurrence is meaningful.
        </p>
        <p>
            Only the 300 most used adjectives were the subject of an editorial treatment.
        </p>

        <h3>4.6. Focus on evolutions by adjectives and sub-corpus.</h3>
        <p>
        The adjectives, selected among the most co-occurring with the lemma "Islam", due to the supposed interest of each term.

        </p>

        <h2>5. Output Format</h2>
        <p>
            Results are exported in JSON format.
        </p>

        <h2>6. Libraries used</h2>
        <h3>Analysis</h3>
        <ul>
            <li>Part-of-speech tagging: <a href="" idlmLink rel="nofollow" target="_blank">TreeTagger</a> (with french corpus)</li>
            <li>Occurences: <a href="" idlmLink rel="nofollow" targe="_blank">Pandas</a> (python)</li>
            <li>Document Term Matrix: <a href="" idlmLink rel="nofollow" target="_blank">Sci-Kit Learn</a> (python)</li>
        </ul>

        <h3>Visualisation</h3>
        <ul>
            <li><a href="http://d3js.org" rel="nofollow" target="_blank" idlmLink>d3.js</a></li>
        </ul>

        <h3>Publication interface</h3>
        <ul>
            <li><a href="http://angular.io" rel="nofollow" target="_blank" idlmLink>Angular 2</a></li>
        </ul>

        <h2>7. Attachments</h2>
        <h3>7.1. Stop-words.</h3>
        <pre>
    de | of
    et | and
    en | in
    dans | in
    que | than
    pour | for
    par | by
    sur | on
    mais | but
    avec | with
    ou | or
    et | and
    entre | between
    comme | as
    sans | without
    depuis | since
    vers | toward
    si | if
    ni | nor
    selon | according to
    pour | for
    quand | when
    chez | among
    pendant | while
    devant | in front of
    parce | by
    car | because
    parmi | among
    ainsi | so
    lorsque | when
    </pre>



        <h3>7.2. Words suppressed on the datavisualisation. "The 16 most used words by year in each corpus (1997-2015)"</h3>

        <pre>
          an | year
          deux | two
          aussi | also
          depuis | since
          avant | before
          pas | not
          ne | born
          plus | more
          autre | other
          grand | great
          contre | against
          bien | good
          nouveau | new
          tout | all
          un | a
          comme | as
          jour | day
          trois | three
          alors | so
          sous | under
          encore | again
          non | no
        </pre>

    </div>
</idlmSection>
