// Vendor import
@import '../node_modules/blaze/scss/components.tooltips';
@import '../node_modules/blaze/scss/objects.containers';
@import '../node_modules/blaze/scss/objects.grid';
@import '../node_modules/blaze/scss/generics.global';
@import '../node_modules/blaze/scss/utilities.alignment';


// global definitions
@import './app/shared/styles/tooltip';
@import './app/shared/styles/variables';
@import './app/shared/styles/typography';
@import './app/home/sections/charts/charts';

/* You can add global styles to this file, and also import other style files */
section {
    overflow: auto;
}

.section {
    &__intro {
        &__title {
            h1 {
                font-weight: normal;
            }
        }
    }
    &__content {
        color: $light-gray;
        h1,h2,h3,h4,h5,.serif {
            color: $black;
        }
    }
    @each $size-name, $size in $screen-sizes {
        .o-container--#{$size-name} {
            @media screen and (max-width: $size){
                .cancel-margin-left {
                    margin-left: auto !important;
                }

                .right-gutter {
                    padding-right: $vertical-nav-width * 2 + .5em;
                }
            }
        }
    }
}

.pad-top {
    padding-top: 4em;
}

.vert {
    position: relative;
    &--full-height {
        min-height: 100vh;
    }
    &__content {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

}
.text-center {
    text-align: center;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-inline {
    @extend .list-unstyled;
    li {
        display: inline-block;
        margin-right: 1em;
    }
}


.sep {
    width: 100%;
    background-color: $light-gray;
    height: 2px;
}
