@import '../shared/styles/variables';
@import '../shared/styles/colors';

section:first-child{
    padding-top: $navbar-height;
}
* >>> .next {
    &:hover {
        circle {
            fill: darken($gray, 50%);
        }
    svg:path {
            fill: $light-gray !important;
        }
    }
}

.cover {
    height: 100vh;
    position: relative;
    &__content {
        color: white;
        z-index: 20;
        text-align: center;
        margin: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        .app-title {
            margin-top: 0;
        }
    }
    .next {
        animation: bounce 2s infinite;
        cursor: pointer;
        z-index: 20;
        position: absolute;
        bottom: 4em;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            circle {
                fill: darken($gray, 50%);
            }
        }
        svg {
            height: 6em;
        }
    }

    &__holder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('assets/images/Couverture.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }
    &__layout {
        z-index: 10;
        opacity: 0.7;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0.01+2,1+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}
